#:schema node_modules/wrangler/config-schema.json

# The name of your project. This is the name displayed on the Workers Dashboard.
name = "workerbin"
# The path to the main entry point of your Worker project.
main = "src/index.ts"
# The date when the project was last tested for compatibility.
compatibility_date = "2024-10-22"

# The directory where your static assets are stored.
assets = { directory = "public" }

# Workers Logs
[observability]
enabled = true

# Triggers are used to schedule the execution of your Workers scripts.
[triggers]
crons = ["0 0 * * *"]

# Automatically place your workloads in an optimal location to minimize latency.
[placement]
mode = "smart"

# Variable bindings.
[vars]
BASE_URL = "YOUR_BASE_URL" # Replace with your base URL (e.g. https://example.com)

# D1 database configuration.
[[d1_databases]]
binding = "DB"
database_name = "YOUR_DATABASE_NAME" # Replace with your database name
database_id = "YOUR_DATABASE_ID" # Replace with your database ID (e.g. xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx)
preview_database_id = "DB"

# Bind an R2 Bucket. Use R2 to store arbitrarily large blobs of data, such as files.
[[r2_buckets]]
binding = "R2"
bucket_name = "YOUR_BUCKET_NAME" # Replace with your bucket name